{% extends 'website/base.html' %}
{% load static %}

{% block main_contains %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .main_post{
            height: 90vh;
            justify-content: center;
            align-items: center;
            padding: 4%;
        }
        *{
            background-color: #FFFFFF;
            
        }
        .how_it{
            margin-top:5%
        }
         
    </style>
    {% include 'website/navBar1.html' %}
    <div class="container how_it">
        <h2>How It Work</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi facere repellendus consequatur illo adipisci non, magni amet, eveniet repellat nisi vitae atque alias eaque voluptatum quis totam nihil ea dolores?
        Perferendis optio eos nobis ab consectetur aliquam vel itaque, corporis accusantium sit. Vero nemo ea reprehenderit est natus pariatur corrupti mollitia dolores. Laborum tenetur aliquam porro possimus in rem architecto.
        Reiciendis omnis soluta veritatis eveniet perspiciatis nostrum aspernatur quas error voluptas dicta, hic adipisci! Accusantium nihil est quae, doloribus dolores labore in, quas vero illum voluptate laborum odit veniam tempore!
        Nulla, optio exercitationem natus eum recusandae perspiciatis vitae. Doloremque assumenda blanditiis debitis facilis iure, incidunt molestias quidem aut explicabo temporibus, quo, expedita excepturi! Reprehenderit quis, dignissimos modi quisquam dolorem inventore!
        Voluptas, ab neque. Earum porro atque animi non accusamus a doloremque, tempora voluptate voluptatibus soluta officia maxime laboriosam voluptatum repellat vel perferendis, veritatis vero reprehenderit facilis sunt eos tenetur ducimus?
        Placeat sunt qui explicabo iste in accusamus tenetur iusto maxime architecto cum, recusandae similique natus quo tempora modi labore eos distinctio ipsum. Id quod rerum possimus nisi architecto, ab dolorum.
        Exercitationem voluptas perspiciatis consequatur. Sunt maiores, sit aspernatur laudantium, itaque quibusdam mollitia hic ab eum nam nobis similique maxime molestiae non ipsa voluptates quo, illo ut error! Hic, laboriosam reprehenderit.
        Cum itaque odio vel numquam beatae esse repudiandae optio consectetur quod amet, vero recusandae dolor dicta consequuntur voluptas nulla modi rem ipsa totam est illum rerum! Natus eum eos delectus.
        Optio quas totam voluptatibus corporis hic voluptatum iusto libero, ipsa qui pariatur, modi vel minus odit repellat eligendi dicta neque, enim aliquid sunt quisquam quia. Sapiente voluptates velit quas quisquam?
        Laboriosam adipisci incidunt minima quibusdam exercitationem minus ab dignissimos vero omnis aperiam reiciendis provident magni nesciunt, culpa libero, dolores illo, consequuntur reprehenderit soluta consectetur? Rerum explicabo exercitationem non suscipit ipsa.</p>
    </div>    
    

{% endblock main_contains %}