
    <style>
        .rigth{
            margin-left: 45%;
        }
        .login-btn{
            margin:1vh;
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hire Creators</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="#">How It Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">QPS</a>
              </li>
               
            </ul>
          </div>
        <div class="rigth d-flex collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item login-btn">
                  <a class="btn btn-success active" aria-current="page" href="{% url 'login_user' %}">Creators Login</a>
                </li>
                <li class="nav-item login-btn">
                  <a class="btn btn-success" href="{% url 'login_user' %}">Brands Login</a>
                </li>
              </ul>
        </div>
        </div>
      </nav>
